body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  /* height: 120%; */
}

html {
  height: 100%;
}

.btn-google {
  color: white;
  background: #ea4335;
}

.btn-facebook {
  color: white;
  background: #3b5998;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-top:  5rem;
  padding-bottom: 10.5rem;    /* Footer height */
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 10.5rem;            /* Footer height */
}